@font-face {
    font-family: 'Phantom Sans Regular';
    src: url('../Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
  font-family: 'Phantom Sans Bold';
  src:
    url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Bold.woff')
      format('woff'),
    url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Bold.woff2')
      format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

h1{
    font-family: 'Phantom Sans Bold', sans-serif;
    color: #8492a6;
}

.intro {
    display: flex;
    align-items: center;
}

.intro img {
    width: 80px; /* Adjust size as needed */
    height: auto;
    margin-right: 10px; /* Optional: add small space between icon and h1 */
}

h2{
    font-family: 'Phantom Sans Regular', sans-serif;
    color: #ec3750;
}

h3{
    color: #ec3750;
    text-align: center;
    font-family: 'Arial', sans-serif;
    font-size: 40px;

}

p{
    color: rgb(194, 109, 109)
    font-family: 'Arial', sans-serif;

}

a.button-design {
    background-color: #daad8d;
    border: 3px solid rgb(252, 161, 130);
    color: rgb(255, 221, 199);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 40px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    align-items: center;
    align-content: center;
    font-family: 'Arial', sans-serif;
    width: 400px;
    height: 100px;
}

image